{% extends "socialApp/base.html" %}

{% block content %}
{%if registration %}

<p> Thanks for signing up yo! Login here to start browsing! </p>
{% endif %}
{% if error_message %}
<p>
  <strong>{{ error_message }}</strong>
</p>
{% endif %}

{% if error_message2 %}
<p>
  <strong>{{ error_message2 }}</strong>
</p>
{% endif %}

            <h1 id="Sub_container_title">Login </h1>
            <br>
           <form method='POST' action="{% url 'login' %}">
           	{% csrf_token %}
               <input class="login_field" placeholder="Username" type='text'  id='username' name='username'>
               <input class="login_field" placeholder="Password" type='password'  name='password'><br>
               <br>
               <input type='submit' class="btn btn-warning" value='Login'/>
               <form method="get" action="/signup/">
                 <a href="{% url 'signup' %}">
                   <button type="button" class="btn btn-primary">Signup</button>
</a>
<a href="{% url 'index' %}">
  <button type="button" class="btn btn-primary">Back to main</button>
</a>
               </form>
           </form>

{% endblock %}
