{% extends "socialApp/base.html" %}

{% block content %}
   <div class='main'>

        <div class="norm login">

        <div class="sub_container_login">
            {% if loggedin %}
            <h1 id="Sub_container_title">You are Logged in! </h1> <small><a href="{% url 'logout' %}">Click here</a> to logout!</small>
        </div>
            <br>
		<form >


            <button  style="width:150px" class="btn btn-success" formaction="{% url 'search' %}"> Search</button>
            <br>
            <p class="logged_p">Search for people here!</p>
            <button  style="width:150px" class="btn btn-success" formaction="{% url 'profile' %}"> Profile</button>
            <br>
              <p class="logged_p">Access your profile here!</p>
		</form>
           </div>
             {% else %}

            <h1 id="Sub_container_title">Login </h1>
            <br>
           <form method='POST' action="{% url 'login' %}">
           	{% csrf_token %}
               <input class="login_field" placeholder="Username" type='text'  id='username' name='username'>
               <input class="login_field" placeholder="Password" type='password'  name='password'><br>
               <br>
               <input type='submit' class="btn btn-warning" value='Login'/>
           </form>
            {% endif %}
   </div>
{% endblock %}
