{% extends "SocialApp/base.html" %} {% load static %} {% block content %}

  <!-----------Profile Pic-------->
               <form id='upload_form' method='POST'  enctype='multipart/form-data'>
            {% csrf_token %}

      <img id='profile-img' width=200 height=200 src={{image.url}}>


             <input type="file" id="img_file" style="display:none;">

            </form>
            <!-----------Information-------->

                <h2 class="userprofile" align="left"> Name: {{ name }} </h2>
                <h2 class="userprofile" align="left"> Age: {{age}} </h2>
                <h2 class="userprofile" align="left"> Email: {{email}}</h2>
                <h2 class="userprofile" align="left"> Username: {{username}} </h2>
                <h2 class="userprofile" align="left"> Gender: {{gender}} </h2>



<!-----Edit Profile---->


        <form id='upload_form' method='POST' action="{% url 'profile' %}" enctype='multipart/form-data'>
            {% csrf_token %}

                <!--- For Name---->

                          <label class="xname">Name :</label>
                            <input type="text" name="name" id="name" value="{{name}}" class="form-control">



                      <label class="username">Username :</label>
                        <input type="text" name="username" id="uname" placeholder="{{username}}"  value="{{ username}}"  class="form-control last">

                        <label class="xname">DOB :</label>
                    <input type="date" name="dob" id='dob' class="form-control" value="{{ dob|date:"Y-m-d" }}" >


                      <label class="mail">Email :</label>
                        <input type="email" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$]"  name="email" id="email" value={{email}} class="form-control">



                           <label class="gender">Gender:</label>


                            {% if gender == 'F' %}
                            <input type="radio"  name="gender" id="gender" value="M" >Female</input>
                           <input type="radio"  name="gender" id="gender" value="F" checked>Female</input>
                            {%endif%}

{% if gender == 'M' %}
                   <input type="radio"  name="gender" id="gender" value="M" checked>Male</input>
                   <input type="radio"  name="gender" id="gender" value="F">Female</input>

            {%endif%}

            <!----------- For Hobby-------->

                              <label class="hobby">Hobbies:</label>

                           <select name ="hobby" class="selectpicker" data-style="btn-default" data-width="100%" multiple>

                                             {% for hobbys in hobby %}
                                 <option value="{{ hobbys }}" selected ="selected">{{ hobbys }}</option>
                                             {% endfor %}

                           </select>
                           <u> Current Selected Hobbies </u>

                           {% for hobby in ownuserhobbies %}
                             <li>{{hobby}}</li>
                           {% endfor %}

                                 <input type="submit" value="Save Edit" class="btn btn-warning"/>
                                 <a href="{% url 'login' %}">click here</a> to return back!

        </form>
        {{ownuserhobbies}}
        {{testing}}


    {% endblock %}
