{% extends "socialApp/base.html" %}


{% block content %}

<head>

</head>
<body>
  {% if error_message %}
  <p>
    <strong>{{ error_message }}</strong>
  </p>
  {% endif %}
 <form class="signup_form" method='POST' action="{% url 'register' %}"  enctype='multipart/form-data'>
      {% csrf_token %}

               <label class="name">Name :</label>


               <input type="text" maxlength='25'name="name" pattern="[[^A-Za-z ]{3,25}"title="Only letters are accepted."pattern="[a-zA-Z]*" id="name" placeholder="Enter your name" class="form-control " required>

         <!--- For username---->

                  <label class="username">Username :</label>


                  <input type="text"maxlength='16' pattern="[[^A-Za-z0-9]{3,15}"title="Letters and numbers. Limited to 15 characters and must have at least 3" name="username" id="username" placeholder="Enter your Username" class="form-control last" required>

            <!-----For date of birth---->

                     <label class="age" >Date of Birth :</label>


                               <input type="date" name="dob" id='dob' class="form-control" max="9999-12-31">

            <!-----For email---->

                     <label class="mail" >Email :</label>
                     <input type="email" name="email" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$]" title="Please enter a valid email address."id="email"placeholder="Enter your email" class="form-control" required >

               <!-----For Password---->

                        <label class="password">Password :</label>


                      <input type="password"maxlength='16' name="password" id="password" placeholder="Enter your Password" class="form-control" required>


                  <!----------- For Gender-------->

                           <label class="gender">Gender:</label>


                           <input type="radio" name="gender"  id="gender" value="M">Male</input>


                           <input type="radio"  name="gender" id="gender" value="F" >Female</input>

                            <!----------- For Hobby-------->
                             <label class="hobby">Hobbies:</label>
                            <select name ="hobby" class="selectpicker" data-style="btn-default" data-width="100%" multiple>

                                              {% for hobbys in hobby %}

                                  <option value="{{ hobbys }}" >{{ hobbys }}</option>

                                              {% endfor %}

                            </select>

                        <!----------- Profile image-------->


                               <label class="click_image">Choose file</label>
                               <input type="file" name="image" class="click_image" id="hide_file" required/>

                        <!----------- Sign in Button -------->


                                 <input type="submit" class="btn btn-warning" id="register_button" value="Register"/>
                                 <a href="{% url 'index' %}">
                                   <button type="button" class="btn btn-primary">Back to main</button></a>

                     </form>


            </body>

{% endblock %}
